{% load staticfiles compress  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | Henslowe-Alleyn</title>
  <meta name="author" content="King's Digital Lab">
  <meta name="description" content="Henslowe-Alleyn Digitisation Project">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'scss/all.min.css' %}">  
  {% endcompress %}

  {# % include 'includes/favicon.html' % #}
  <link rel="icon" type="image/png" href="{% static 'images/Henslowe-Alleyn-favicon.png' %}">
</head>
<body>
  <div role="navigation" class="skip"><a href="#main-content">Skip to main content</a></div>
  <nav id="nav">
    {% include 'includes/navigation.html' %}
  </nav>

  <div class="banner"></div>

  <main id="main-content">
    <header>
      {% block breadcrumbs %}
      {% include 'cms/includes/breadcrumbs.html' %}
      {% endblock %}

      {% block page_title %}
      {% if self.title %}
      <h2>{{ self.title }} {% if self.subtitle %} - {{ self.subtitle }}{% endif %}</h2>
      {% endif %}
      {% endblock %}
    </header>

    {% block main %}
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  {% compress js %}
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'vendor/caman/dist/caman.full.min.js' %}"></script>
  <script src="{% static 'vendor/openseadragon/openseadragon.min.js' %}"></script>
  <script src="{% static 'vendor/openseadragon-filtering/openseadragon-filtering.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endcompress %}

  {% block footer_scripts %}{% endblock %}

  {% compress js %}
  <script src="{% static 'js/google_analytics.js' %}"></script>
  <script>
    ga('create', '{{ GA_ID }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endcompress %}
</body>
</html>
