/** Your custom scss here **/
.osd-viewer
{
    height: 600px;
}
#osd_modifiers
{
    #adjustments
    {
        .slider-wrapper
        {
            .label
            {
                display: inline-block;
                width: 100px;
            }
            .slider
            {
                display: inline-block;
                width: 200px;
            }
        }
    }

    .hidden
    {
        display: none;
    }
}