/* Henslowe-Allen main scss */

/* Table of contents
 *
 * 1. Imports
 *    --- Webfonts
 *    --- Fontawesome
 * 2. Mixins 
 * 3. Variables (Colours)
 * 4. General
 * 5. Menu
 *    --- First level
 *    --- Second level
 * 6. Search
 * 7. Banner
 * 8. Content
 *    --- Breadcrumbs
 *    --- Wrapper
 *    --- Accordion
 *    --- Secondary navigation
 * 9. OpenSeaDragon
*/

/* 1. Imports */

/* Webfonts */
@import url('https://fonts.googleapis.com/css?family=Archivo|Fjalla+One|M+PLUS+Rounded+1c|Muli');

/* Fontawesome */
/*** TO: BM can you get this to import from vendor files? ***/
// @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* 2. Mixins  */

@mixin calc($prop, $val) {
  @each $pre in -webkit-,
  -moz-,
  -o- {
    #{$prop}: $pre+calc(#{$val});
  }

  #{$prop}: calc(#{$val});
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

/* 3. Variables (Colours) */

$black:#222;
$white:#fff;
$primary: #bab294;
$secondary: #a1562c;
$grey: #777;

/* 4. General */

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  box-sizing: border-box; 
} 

html,
body {
  height: 100%; 
}

body {
  font-family: 'Muli', sans-serif;
  margin:0;
}

.width-100 {
  width: 100% !important;
}

a {
  cursor: pointer;
}

.hide {
  display: none;
}

/* 5. Menu */
.skip {
  font-size: 1px;
  position: absolute;
  top: -3px;
}

#nav {
  width: 100%;
  text-align: center;
  font-size: 0.8125rem;
  font-family: 'Fjalla One', sans-serif;
  background: $black;
  padding: 1rem 0;
  border-bottom: 3px solid $secondary;
  z-index: 1;

  .logo {
    position: relative;
    z-index: 0;

    h1 {
      text-align: center;
      font-size: 2rem;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;

      > a {
        color: lighten($primary, 10%);
        text-decoration: none;
        text-shadow: 1px 1px darken($black,40%);
      }
    }
  }

  > a {
    display: none;

    &.hide-nav {
      font-size: 1.375rem;
    }
  }

  li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: 0.5rem 0.3rem;
    font-size: 1.125rem;

    a {
      display: block;
      text-decoration: none;
      color: $white;
      padding: 0.3rem;

      &:hover {
        color: lighten($primary,5%);
      }
    }
  }

  span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: $black;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
  }
}

// First level
#nav > ul {
  height: 3.75em;
  margin: 0 0 0 -40px;

  > li {
    height: 100%;
    display: inline-block;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    &.is-active {
      a {
        color: lighten($primary, 10%);
      }
      // border-bottom: 1px solid $secondary;
      // border-top: 1px solid $secondary;

      // &:hover {
      //   border-bottom: 1px solid darken($secondary,45%);
      //   border-top: 1px solid darken($secondary,45%);
      // }
    }

    > a {
      height: 100%;
      font-size: 1.125rem;
      line-height: 2.5;
      text-align: center;
      padding: 0 1rem;
      transition: 0.8s ease;
    }
  }
}

// Second level
#nav li ul {
  position: absolute;
  top: 100%;
  z-index: 1;
  display: none;
  background: $white;
  width: 200%;
  margin-left: -50%;
  border: 1px solid $grey;

  &:before {
    width: 0;
    height: 0;
    border: 0.3rem solid transparent;
    border-bottom: none;
    border-top-color: $secondary;
    content: '';
    position: relative;
    right: -0.4rem;
    top: -1.4rem;
  }

  li {
    margin-left: -40px;
  }

  a {
    font-size: 0.875rem;
    padding: 0.5rem 0.2rem;
    color: $black;
    border:0;

    h3 {
      margin:0;
    }

    h4 {
      font-size: 0.8125rem;
      margin: 0;
      font-family: 'Muli',sans-serif;
    }

    &:hover{
      color: $secondary;
    }
  }
}

#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
  transition: 0.6s ease;

  a {
    display: block;
    transition: 0.8s ease;
  }
}

/* 6. Search */
ol.search-results {
  padding-left: 17px;
  margin-top: 2rem;
}

h3 {
  font-size: 16px;
}

.search-field {
  // margin-top: 60px;
  width: 100%;
  text-align: center;
  
  input[type=search] {
    width: 100%;
    height: 55px;
    padding: 0 20px;
    margin:0 -2%;
    font-size: 1rem;
    border: 1px solid $black;
    outline: none;
    opacity: 1;
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */

    &:focus {
      border: 1px solid $grey;
      transition: 0.35s ease;
      color: $black;

      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  button.search-icon {
    position: absolute;
    width: 65px;
    margin: 0 auto;
    padding: 0;
    margin-left: -30px;
    border: none;
    background-color: white;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border: 2px solid #333;
      border-radius: 100%;
      top: 9px;
      left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      right: 28px;
      top: 38px;
      width: 12px;
      transform: rotate(45deg);
      border: 1px solid #333;
    }
  }

  button {
    &:hover {
      opacity: 0.6;
    }
  }
} /* end .search-field */

.pagination {
  text-align: center;
  color: $black;
  padding: 1rem 0 0;

  a {
    color: $secondary;

    &:hover {
      color: primary;
    }
  }

  .prev{
    float: left;
  }

  .next {
    float: right;
  }
}

/* 7. Banner */

.banner {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/static/images/manuscript.jpg");
  /* Set a specific height */
  height: 20vw;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* 8. Content */

main {
  padding: 0 2rem;
  width: 100%;
  // float: left;
  min-height: 80vh;
  max-width: 1800px;
  margin: auto;
  a {
    color: darken($primary, 25%);
    text-decoration: none;
  }
  a.essay, a.transcript, .image-count  {
    color: $black;
    padding: 0.3rem 0 0.05rem 0rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 0.2rem;
    line-height: 1.3;
    -moz-transition: all 0 ease-in;
    -webkit-transition: all 0 ease-in;
    -o-transition: all 0 ease-in;
    transition: all 0 ease-in;
    &::before {
      font-family: "Font Awesome 5 Free";
      padding: 0 0.2rem;
      padding: 0px 5px 0px 0px;
    }
    &:hover, &:focus {
      text-decoration: underline;
      cursor: pointer;
    }
    &.essay::before {
      content: "\f044";
      font-size: 0.875rem;
      line-height: 1;
    }
    &.transcript::before {
        content: "\f15c";
        font-size: 0.8125rem;
    }
  }

  span {
    &.essay:before {
      content: "\f044";
      font-family: "Font Awesome 5 Free";
      font-size: 0.875rem;
      line-height: 1;
      padding: 0 0.1rem;
    }

    &.pdf:before {
      content: "\f1c1";
      font-family: "Font Awesome 5 Free";
      font-size: 0.8125rem;
      padding: 0 0.2rem;
    }

    &.print:before {
      content: "\f02f";
      font-family: "Font Awesome 5 Free";
      font-size: 0.8125rem;
      padding: 0 0.2rem;
      font-weight: 900;
    }
  }

  header {
    border-top: 3px solid $secondary;
    margin: 0 -2rem;
    margin-bottom: 40px;

    h2 {
      background: $black;
      color: $white;
      padding: 0.4rem 2.3rem 0.6rem;
      margin: 0;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.1875rem;
    }

    h3 {
      padding: 0.6rem 2.3rem;
      margin: 0;
    }
  }

  // Breadcrumbs

  .breadcrumbs {
    background: $black;
    display: block; 
    list-style: none;
    margin: 0;
    padding: 0.5rem 2.3rem 0;

    li {
      display: inline-block;
      font-family: 'Muli', sans-serif;
      a {
        color: $primary;
      }
      &::after {
        color: $primary;
        content: ">";
        padding: 0 0 0 0.4rem;
      }
    }
  }

.img-wrapper {
  &.float-right {
    float: right;
    margin: 5px 0px 10px 10px;
  }
  &.float-left {
    float: left;
    margin: 5px 10px 10px 0px;
  }
  .caption p { 
    margin: 5px 0px;
    font-size: 14px;
  }
}

// Wrapper

.wrapper {
  height: 100%;
  // margin-top: 3rem;

  .intro-wrapper {
    border-bottom: 1px solid $grey;
    padding: 0 1% 2rem;

    p {
      margin: 1rem 0;
    }

    .readmore-state {
      display: none;

      ~ .readmore-trigger::before {
        content: 'Read more >';
      }

      ~ label.readmore-trigger {
        margin: -0.5rem 2rem 0 0;
        display: inline-block;
        border: 1px solid $black;
      }

      &:checked { 
        ~ .intro-expand {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        ~ .readmore-trigger::before {
          content: 'Show less <';
        }
      }
    } /* end .readmore-state */

    .intro-expand {
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .5s ease;

      ul {
        li {
          margin: 1rem 0;
          line-height: 2rem;

          &:last-child {
            margin-bottom: 5rem;
          }
        }
      }
    } /* end .readmore-target */ 

    .readmore-trigger {
      cursor: pointer;
      color: $black;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      float: right;

      &:hover {
        background: $black;
        color: $primary;
        border: 1px solid $black;
      }
    } /* end .readmore-trigger */
  } /* end .intro-wrapper */

  .page-content {
    ul {
      padding-left: 16px;
    }
  }
  // Accordion

  ul.accordion { 
    list-style: none;
    position: relative;
    display: block;
    float: left;

    ul {
      display: none;  /* by default hide all sub menus */
      list-style: none;
    }

    input[type=checkbox] {
      position: absolute;
      opacity: 0;     /* hide native checkbox */
    }

    label {
      cursor: pointer;
      position: relative;
      display: block;

      &:before {
        /* arrow icon */
        content: "+";
        position: absolute;
        display: block;
        left: 0;
        text-align: center;
      }

      &:hover {
         &:before {
          color: $secondary;
        }
      }
    }/* end label */

    > li {  /* First level */
      padding-bottom: 1rem;
      float: left;
      border-bottom: 1px dotted #ccc;
      margin-bottom: 1rem;
      width: 100%;

      img {
        display: inline-block;
        width: 20%;
      }/* end img */

      .info { 
        display: inline-block;
        width: 73%;
        vertical-align: top;
        margin-left: 5%;

        h3 {
          margin: 0;
          display: inline-block;

          a {
            width: inherit;
            padding: 0;
          }

          span {
            color: darken($grey, 5%);
            font-weight: normal;
            padding: 0.3rem 0 0.05rem 0.5rem;
            font-size: 0.625rem;
            text-transform: uppercase;
          }
        } /* end h3 */

        span {
          margin-top: 0.2rem;
          line-height: 1.3;
          -moz-transition: all 0 ease-in;
          -webkit-transition: all 0 ease-in;
          -o-transition: all 0 ease-in;
          transition: all 0 ease-in;

          &:hover {
            color: $secondary;
          }
        }

        h4 {
          font-weight: normal;
          font-size: 0.875rem;
          margin: 0.5rem 0 1rem;

          a {
            width: inherit;
          }
        }

        // label {
        //   margin: 0.5rem 0 0;
        //   padding: 1rem 0.2rem 1.5rem;
        //   border-top: 3px solid $black;
        //   background: none;
          
        //   span {
        //     padding-left: 1rem;
        //   }
        // }
      }/* end .info */

      a {
        color: $black;
        padding: 0.3rem 0;
        display: inline-block;
        vertical-align: top;
        width: 20%;

        img {
          width: 100%;
        }

        &:hover {
          opacity: 0.7;
        }
      }/* end a */

      /*
      input[type=checkbox]:checked {
        + label {
          color: $secondary;

          &:before {
            
            content: "-";
            color: $secondary;
          } 

          + ul,
          .accordion input[type=checkbox]:checked + label:nth-of-type(n) + ul { 
            display: block;
            float: left;
            width: 100%;
            margin-left: -22px;

            li {
              a {
                display: inline-block;
                width: 20%;

                img {
                  width: 100%;
                }

                &:hover {
                  opacity: 0.7;
                }
              }

              .info {
                display: inline-block;
                width: 70%;
                vertical-align: top;
                margin-left: 5%;

                h3 {
                  display: inline-block;
                  margin: 0 0 0.3rem;
                  font-size: 1rem;

                  a {
                    width: inherit;
                  }
                }

                span {
                  font-size: 0.625rem;
                  margin-top: 0.2rem;
                  line-height: 1.3;
                }

                h4 {
                  margin: 0;
                  font-weight: normal;
                  font-size: 0.8125rem;
                }
              } 
            }
          }
        } 
      } 
      */
    } /* end li*/
  } /* end ul.accordion */

  // Secondary navigation
  .show-secondary-nav {
    display: none;
  }
  .secondary-nav {
    width: 25%;
    margin-right: 5%;
    float: left;
    border: 1px solid $black;

    label {
      display: none;
    }

    h2 {
      font-family: 'Fjalla One', sans-serif;
    }

    h3 {
      font-size: 1.125rem;
      margin: 0;
    }

    h4 {
      font-size: 0.8125rem;
      margin: 0;
      font-family: 'Muli', sans-serif;
    }

    ul {
      margin: 0 0 0 -40px;

      li {
        list-style-type: none;
        font-family: 'Fjalla One', sans-serif;
        display: block;
        padding: 1rem;

        a {
          -moz-transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          color: $black;
          cursor: pointer;
          display: block;

          &:hover {
            color: $secondary;
          }
        }

        &.is-active {
          background: $black;
          position: relative;
          &:hover {
            h3,
            h4 {
              a {
                cursor: auto;
                color: $white;
              }
            }
          }

          a {
            color: $white;

            &:hover {
              color: $secondary;
            }
          }

          &:after {
            content: " ";
            position: absolute;
            right: -9px;
            top: 35%;
            border-top: 13px solid transparent;
            border-right: none;
            border-left: 9px solid $black;
            border-bottom: 13px solid transparent;
          }
        } /* end &.is-active */ 
      }
    }
  } /* end .secondary-nav */

  .content {
    width: 70%;
    float: left;

    .highlight {
      background: rgba(186, 178, 148, 0.4);
    }
    ol {
      padding-left: 16px;
      li {
        margin-bottom: 10px;
      }
    }
    dl {
      margin-top: 0;

      .card {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid lighten($grey,40%);
        padding: 1rem;

        &:hover {
          background: lighten($grey,45%);

          dt h4 {
            color: $black;
          }

          dd {
            color: $black;
          }
        }

        dt {
          width: 30%;
          margin-right: 5%;
          display: inline-block;
          vertical-align: middle;

          h4 {
            font-family: 'Fjalla One', sans-serif;
            font-size: 1.125rem;
            color: $grey;
            margin-top: 0;
            font-weight: normal;
            width: 45%;
            margin-right: 3%;
            display: inline-block;
            vertical-align: middle;
          }

          img {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
          }
        }

        dd {
          width: 63%;
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          padding: 0;
          color: $grey;

          span {
            width: 100%;
          }
        }
      }
    }
  }
}

.entry {
  padding-left: 0px;
  > li {
    list-style: none;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex; 
    align-items: flex-start;
    padding-bottom: 2rem;
    // border-bottom: 1px dotted #ccc;
    > a {
      width: 20%;
      margin-right: 20px;
         img {
           width: 100%;
         }

    }
    .info {
      display: -webkit-flex; /* Safari */
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
      width: 73%;
      .entry-description {
        h3 {
          margin: 0px;
          margin-bottom: 0.8rem;
          font-family: 'Fjalla One', sans-serif;
          a {
            color: $black;
            &:hover, &:focus {
              color: $secondary;
            }
          }
        }
        .reference {
          font-size: 13px;
          margin-top: 0px;
        }
      }
      h4 {
        line-height: 1.6em;
      }
      .image-count {
        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f302";
        }
      }

      ul {
        display: none;
      }
      input[type=checkbox] {
        position: absolute;
        opacity: 0;     /* hide native checkbox */
      }
      label {
        background-color: $black;
        color: $white;
        font-family: 'Fjalla One', sans-serif;
        padding: 10px 35px 10px 20px;
        width: max-content;
        position: relative;
        display: block;
        border: none;
        border-radius: 0px;
        right: 0;
        height: auto;
        &::before {
          font-family: 'Fjalla One', sans-serif;
          content: "Show";
          font-size: 16px;
          padding: 0;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f0dd";
          font-weight: 900;
          margin-left: 10px;
          position: absolute;
          top: 8px;
        }
      }
      input[type=checkbox]:checked + label:nth-of-type(n) {
        &::before {
          font-family: 'Fjalla One', sans-serif;
          content: "Hide";
          font-size: 16px;
          padding: 0;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f0de";
          margin-left: 10px;
          font-weight: 900;
          position: absolute;
          top: 14px;
        }
      }
      input[type=checkbox]:checked + label:nth-of-type(n) + ul { 
        padding: 10px 0px;
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        display: flex; 
        flex-wrap: wrap;
        width: 100%;
        li {
          list-style: none;
          padding: 10px;
          border: 1px solid #777;
          border-left: 3px solid $black;
          margin: 0px 10px 10px 0px;
          display: -webkit-flex; /* Safari */
          display: flex; 
          img {
            max-width: 90px;
            margin-right: 20px;
          }
          .info {
            h3 {
              font-size: 16px;
            }
            h4 {
              margin-bottom: 2px;
              margin-top: 5px;
              font-size: 14px;
              font-family: 'Fjalla One', sans-serif;
              a {
                text-decoration: underline;
                &:hover, &:focus {
                  color: darken($secondary, 15%);
                }
                &::after {
                  font-family: "Font Awesome 5 Free";
                  content: "\f054";
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 9. OpenSeaDragon */

.openseadragon-container {
  border: 4px solid red;

  div {
    top: -1px !important;

    div {
      top: 2px !important;
      background-color: $black !important;

      div {
        cursor:pointer;
      }
    }
  }
}

/**** DRAWER ****/

.osd-drawer {
  display: inline-block;
  text-align: right;
  width: 100%;

  label {
    position: relative;
    border: none;
    text-align: right;
    vertical-align: middle;
    border-radius: 0px;
    padding: 10px 20px !important;
    margin: 0px !important;
    background: lighten($primary, 10%);
    width: auto;
    height: auto;
    right: 0;
    display:inline-block;
    &:before {
      padding: 0;
      margin: 0;
    }
    &:hover, &:focus {
      background: $black !important;
      opacity: 1;
      span {
        color: $white;
      }
    }
    span {
      display: inline-block;
      text-align: left;
      padding: 0;
      margin: 0;
      margin-left: 10px;
      width: max-content;
    }
  }
  input {
    &[type="checkbox"] {
      display: none;

      &:checked {
        ~ label { /* Slides label out but hidden */
          right: 480px;
          visibility: hidden;
          span {
            display: none;
          }
        } /* end label */
      } /* end :checked */
    } /* end [type="checkbox"] */

    &:checked {
      + label:after { /* adds close button */
        content: "✕ Close Image Modifiers";
        font-family: 'Fjalla One', sans-serif;
        // position: absolute;
        // top:0;
        // left: 0;
        color: white;
        background:$black;
        // z-index: 3;
        // width:55px;
        // height:52px;
        // padding:3px 0 0 0;
        // border-radius: 50%;
        // font-size: 1.6875rem;
        // line-height: 1.8;
        visibility: visible;
        position: relative;
        border: none;
        text-align: right;
        vertical-align: middle;
        border-radius: 0px;
        padding: 10px 20px;
        margin: 0px !important;
        width: auto;
        height: auto;
        right: 0;
        display:inline-block;
        font-size: 13px;
      }

      div.transcription {
        background: none;
        border: none;
        color: #fff;
        display: block;
        height: 80%; 
        margin: 20px 0 0 0;
        width: 100%;
        white-space: pre-wrap;
        overflow-y: scroll;
        overflow-x: hidden;
      }
            
      /* First */

      &#first-drawer {
        &[type="checkbox"] {
          &:checked {
            ~ .first-list { /* Slides drawer out */
              margin: 0;
              text-align: left;
            } /* end .first-list */
          } /* end :checked */
        } /* end [type="checkbox"] */
      }

      ~ .osd-image { /* reduces and pushes image to left */
          width:calc(100% - 500px);
          -moz-transition:all 200ms ease-in;
          -webkit-transition:all 200ms ease-in;
          -o-transition:all 200ms ease-in;
          transition:all 200ms ease-in;
        } /* end .osd-image */
      } /* end #first-drawer */

      /* Second */

      &#second-drawer {
        &[type="checkbox"] {
          &:checked {
            ~ .second-list { /* Slides drawer out */
              margin: 0;
            } /* end .second-list */
          } /* end :checked */
        } /* end [type="checkbox"] */

        ~ .osd-image { /* reduces and pushes image to left */
          width: calc(100% - 500px);
          -moz-transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
        } /* end .osd-image */
      }/* end #second-drawer */

      /* Third */

      &#third-drawer {
        &[type="checkbox"] {
          &:checked {
            ~ .third-list { /* Slides drawer out */
              margin: 0;
            }
          }
        }

        ~ .osd-image { /* reduces and pushes image to left */
          width: calc(100% - 500px);
          -moz-transition: all 200ms ease-in;
          -webkit-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
        } /* end .osd-image */
      }/* end #third-drawer */
    }/* :checked */
  }/* end input */

  /* Label */
  label {
    width: 55px;
    height: 55px;
    border: 1px solid grey;
    text-align: center;
    line-height: 1.1rem;
    position: absolute;
    right: 30px;
    cursor: pointer;  
    border-radius:50%;

    &:before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding: 12px 0 0 0;
      vertical-align: middle;
      font-size: 2.125rem;
    }

    &:hover {
      background: $black;

      span {
        color: $black;
      }

      &.first-label,
      &.second-label {
        color: $white;
      }
    }

    span {
      display: block;
      padding-top: 1.3rem;
      text-align: center;
      width: 80px;
      margin-left: -17px;
      font-family: 'Fjalla One',sans-serif;  
      font-size: 0.8125rem;
    }

    &.first-label { /* First label*/
      margin-top: 50px;
      padding: 7px 0 0 2px;

      &:before {
        font-size: 1rem;
        content: "\f1de";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    } /* end .first-label */

    &.second-label { /* Second label*/
      margin-top: 180px;
      padding: 9px 0 0 3px;

      &:before {
        content: "\f044";
        font-size: 1.6875rem;
      }
    } /* end .second-label */

    &.third-label { /* Third label*/
      margin-top: 290px;
      padding: 6px 0 0 2px;

      &:before {
        content: "\f15c";
        font-size: 1.8125rem;
      }
    } /* end .second-label */ 
  } /* end label */

  .primary-pagination {
    width: 100%;
    text-align: center;
    font-size: 1.625rem; 
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: $black;
      margin: 0px 20px;
      &:hover {
        color: $secondary;
      }
    }

    .select-dropdown {
      background: $white;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
      height: 42px;
      select {
        color: $black;
        font-family: 'Fjalla One',sans-serif;  
        font-size: 1rem; 
        cursor: pointer;
        &:focus {
          border-bottom: 1px solid $primary;
          height: 43px;
          border-radius: none;
        }
      }

      &:after {
        border-top: 5px solid darken($grey,5%);
        margin-top: -1px;
      }

      &:hover, &:focus {
        background: none;

        select {
          color: $secondary;
        }

        &:after {
          border-top: 5px solid $secondary;
        }
      }
    }
  } /* end .primary-pagination */

  .secondary-pagination {
    width: 100%;
    text-align: center;
    font-size: 1rem; 
    margin: 0 0 0.5rem;

    a {
      color: $white;
      &:hover {
        color: $primary;
      }
    }

    .select-dropdown {
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
      border-radius: 2px;
      height: 42px;
      
      select {
        color: $white;
        font-size: 1rem; 
        margin-top: 6px;
        font-family: 'Fjalla One',sans-serif;
        cursor: pointer;

        &:focus {
          border-bottom: 1px solid $primary;
        }
      }

      &:after {
        border-top: 5px solid $white;
      }

      &:hover, &:focus {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;

        select {
          color: $white;
        }

        &:after {
          border-top: 5px solid $primary;
        }
      }
    }
  } /* end .secondary-pagination */

  .functions {
    text-align: right;
    padding: 0 0.5rem 0 0;
    margin: 0.4rem 0 0.5rem;
    font-family: 'Fjalla One',sans-serif;

    a {
      background: $white;
      padding: 0 0.5rem 0.3rem 0.5rem !important;
      margin: 0 0.2rem;

      &:hover {
        background: $primary;
      }
    }

    span {
      margin-top: 0.2rem;
      line-height: 1.3;
      -moz-transition: all 0 ease-in;
      -webkit-transition: all 0 ease-in;
      -o-transition: all 0 ease-in;
      transition: all 0 ease-in;
      color: $black;
      float: right;
      font-size: 0.8125rem;
    }
  } /* end .functions */

  .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    margin: 0 -450px 0 0;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 2;
    background: $black;
    padding: 0 15px 15px;
    color: white;
    box-shadow: -1px 0px 1px black;

    ul {
      width: 450px;
      height: 100%;
      padding: 1em;
      background: $black;
      color: white;
      margin: 0;
      list-style: none;
      overflow: scroll;

      li {
        margin: 0;
      } /* end li*/
    } /* end ul*/

    button {
      font-size: 1rem;
      width: 100%;
      border: none;
      background-color: $white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.5rem;
      margin: 1rem 0;
      text-transform: uppercase;
      color: $black;
      font-family: 'Fjalla One', sans-serif;

      &.ui-corner-all {
        border-radius: 0;
      }

      &:hover {
        background: $primary;
        border: none;
        outline: none;
      }

      &.ui-state-active {
        background-color: $secondary;
        font-family: 'Fjalla One', sans-serif;
        color: white;
        border: none;
      }
    } /* end button */
  } /* end .drawer */

  .select-dropdown {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 100%;
    border-radius: 0;

    select {
      font-size: 1rem;
      max-width: 100%;
      padding: 4px 24px 4px 10px;
      border: none;
      color: $white;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &:hover {
      select {
        color: $black;
      }

      &:after {
        border-top: 5px solid $black;
      }
    }

    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 8px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $white;
    }
  } /* end .select-dropdown */

  /*OSD Viewer */
  .osd-viewer {
    height: 600px;
  }

  #osd_modifiers {
    padding: 0 10px;

    h2 {
      font-family: 'Fjalla One', sans-serif;
    }

    #adjustments {
      .slider-wrapper {
        margin: 1rem 0;

        .label {
          display: inline-block;
          width: 100px;
        }

        .slider {
          display: inline-block;
          width: 200px;

          &.ui-corner-all {
            border-radius: 0;
            border-bottom-right-radius: 0;
          }

          &.ui-slider-horizontal {
            height: .3em;
            width: 100%;

            .ui-slider-handle {
              top: -.5em;
              border-radius: 50%;
              background: lighten($primary,10%);
              cursor: pointer;
              outline: none;

              &:hover {
                background: $secondary;
                border: 1px solid darken($secondary,5%);
              }
            }
          }
        }
      }
    }

    .hidden {
      display: none;
    }
  } /* #osd_modifiers */

  .osd-image {
    // width: calc(100% - 90px);
  } /* end .osd-image */

  .osd-switcher {
    text-align: center;
    background: $black;
    padding: 0.4rem 0;
    margin: 1rem 0 0;

    a {
      display: inline-block;
      padding: 8px 24px;

      &.next {
        float: right;
      }

      &.prev {
        float: left;
      }
    } /* end .osd-switcher */
  } /* end .osd-drawer */
} /* end main */

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0 0;
  font-size: 0.8125rem;
  background: $black;
  float: left;
  width: 100%; 

  ul {
    margin-left: -40px;

    li {
      list-style-type: none;
      display: inline-block;
      font-size: 1rem;

      a {
        cursor: pointer;
      }

      img {
        height: 45px;
        margin: 0 1rem;
        display: inline-block;
        margin: 0.5rem 1.5vw;

        &:hover {
            opacity: 0.7;
        }
      }
    }
  }

  p {
    color: $white;
    margin-bottom: 2rem;
    a {
      color: lighten($primary, 15%);
      font-size: 14px;
      // text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

#error {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding: 1rem 0;
  z-index: 1;
  h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }
  h2 {
    font-size:2.5rem;
  }
  p, a {
    font-size:1.3rem;
  }
}

@media screen and (max-width: 885px) {
  body {
    margin: 0;
  } /* end body */

  main {
    header {
      .breadcrumbs {
        margin-top: 57px;
      }
    }
  } /* end main */

  .banner{
    display: none;
  } /* end .banner */

  #nav {
    top: 0;
    z-index: 2;
    background: $black;
    width: 100%;
    height: 60px;
    position: fixed;
    padding: 0.3rem 0;

    .logo {
      position: relative;
      width: 13rem;
      margin: 0;
      padding: 0;

      h1 {
        text-align: left;
        padding: 0.2rem 0 0.5rem 0.75rem;
        font-size: 1.125rem;
      }
    } /* end .logo */

    > a {
      width: 100%;
      height: 4.125rem;
      text-align: right;
      position: absolute;
      color: white;
      font-size: 1.1875rem;
      top: 0;
      right: 0;
      width: 10%;
      padding: 0.8rem 1rem 0 0;
      transition: 1.6s ease;
    } /* a */
  } /* #nav */

  #nav:not(:target)>a:first-of-type,
  #nav:target>a:last-of-type {
    display: block;
    color: $white;
    text-decoration: none;
  } 

  #nav > ul { //first level
    height: auto;
    display: none;
    position: absolute;
    width: 100%;
    margin-left: 0;
    background: $black;

    > li {
      width: calc(100% + 40px);
      margin: 0 0 0 -40px;
      display: block;

      &.is-active {
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        background: lighten($primary, 10%);

        a {
          color: $black;
        }

        ul { //second level
          li {
            a {
              color: $black;
              font-size: 1rem;
            }
          }
        }
      }

      > a {
        height: auto;
        text-align: left;
        padding: 0 1rem;
        transition: none;
        background-color: rgba(255, 255, 255, 0);
        font-size: 1rem;
      }
    } /* end li */
  } /* end #nav>ul  */

  #nav:not(:target) > ul {
    display: block;
    transition: 1s ease;
    top: -1000%;
    right: 0;
    left: 0; 
    margin-left: 0;
    background: $black;
  }

  #nav:target {
    position: fixed;
    overflow: scroll;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border: 0;

    > ul {
      display: block;
      top: 60px;
      transition: 0.2s ease;
      width: 100%;
      border-top: 3px solid $secondary;
    }
  }
    
  //second level
  #nav li {
    display: block;
    margin-left: -40px;

    &:hover ul a {
      transition: none;
    }

    ul {
      position: static;
      padding: 1.25em;
      padding-top: 0;
      opacity: 1;
      display: none;
      margin-left: 0;
      width: 100%;
      background: $black;

      &:before {
        right: -50%;
        top: -1.3rem;
        border-top-color: $white;
      }

      li {
        margin: 0;
        text-align: left;
      }

      a {
        padding: 0.7rem;
        color: $white;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .about-expand {
    margin: 0;

    &:target {
      img {
        padding: 0 1rem 1rem 0;
      }
    }
  } /* end .about-expand */

  main {
    // padding: 0;

    header {
      margin: 0 -2rem;
      margin-bottom: 30px;

      .breadcrumbs {
        padding: 0.4rem 0.8rem 0.6rem;
      }

      h2 {
        padding: 0 0.8rem 0.6rem;
        font-size: 1.3125rem;
      }
    } /* end header */

    .wrapper{
      margin-top: 0;

      .secondary-nav {
        display: none;
      }
      
      button.search-icon {
        margin-left: -37px;
      }

      label {
          &.show-secondary-nav {
          background-color: lighten($primary, 10%);
          color: $black;
          font-family: 'Fjalla One', sans-serif;
          padding: 10px 35px 10px 20px;
          position: relative;
          display: block;
          width: 100%;
          border-radius: 0px;
          border: none;
          height: 3rem;
          line-height: 2em;
          margin-bottom: 30px;
          left: 0;
          &::before { 
            font-family: 'Fjalla One', sans-serif;
            content: "Show ";
            font-size: 16px;
            padding: 0;
          }
          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f0dd";
            margin-left: 10px;
            font-weight: 900;
            position: absolute;
            top: 8px;
          }
        }
      }

      input[type=checkbox]:checked 
        + label 
        {
          &::before { 
            font-family: 'Fjalla One', sans-serif;
            content: "Hide ";
            font-size: 16px;
            padding: 0;
          }
          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f0de";
            top: 14px;
          }
          + .secondary-nav {
            display: block;
            width: 100%;
            ul li.is-active:after {
              content: "" !important;
            }
          }
        }

      .content {
        width: 100%;

        .entry, ul {
          padding: 0;
        }

        dl {
          .card {

            dt {
              width: 30%;
              margin: 0;  

              h4 { 
                width: 25%;
                min-width: 3rem;
                margin: 0 0 0.5rem;
              } 

              img {
                width: 70%;
              }            
            }

            dd {
              width: 68%;
            }
          }
        }
      } /* end .content */
    }
  } /* end main */

  /**** DRAWER ****/
  .osd-drawer {
    text-align: left !important;
    input {
      &[type="checkbox"] {
        display:none;

        &:checked {
          ~ label { /* Slides label out but hidden */
            position: fixed;
            right: -10px !important;
            top: 0;
            z-index: 99;
            margin: 0;
            padding: 0;
            
            } /* end label */
          } /* end :checked */
        } /* end [type="checkbox"] */

        &:checked { 
          + label::before {
            display: none;
          }
          + label::after { /* adds close button */
            width: 40px;
            height: 37px;
            border-radius: 50%;
            font-size: 1.3125rem;
            line-height: 1.7;
            padding: 5px !important;
            box-shadow: 0px 0px 1px $white;
          }

          /* First */
          &#first-drawer { /* First */
            &[type="checkbox"] {
              &:checked{
                ~ .first-list { /* Slides drawer out */
                  margin: 0;
                } /* end .first-list */
              } /* end :checked */
            } /* end [type="checkbox"] */

            ~ .osd-image { /* reduces and pushes image to left */
              width: 0;
            } /* end .osd-image */
          } /* end #first-drawer */

          /* Second */
          &#second-drawer { /* Second */
            &[type="checkbox"] {
              &:checked {
                ~ .second-list { /* Slides drawer out */
                  margin: 0;
                } /* end .second-list */
              } /* end :checked */
            } /* end [type="checkbox"] */

            ~ .osd-image { /* reduces and pushes image to left */
              width: 0;
            } /* end .osd-image */
          } /* end #second-drawer */

          /* Third */
          &#third-drawer { /* Third */
            &[type="checkbox"] {
              &:checked {
                ~ .third-list { /* Slides drawer out */
                  margin: 0;
                } /* end .second-list */
              } /* end :checked */
            } /* end [type="checkbox"] */

            ~ .osd-image { /* reduces and pushes image to left */
              width: 0;
            } /* end .osd-image */
          } /* end #third-drawer */
        } /* :checked */
      } /* end input */

      /* Label */

      label {
        width: 35px;
        height: 35px;
        border: 1px solid grey;
        text-align: center;
        line-height: 1.1rem;
        position: absolute;
        right: 10px;
        border-radius: 50%;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        cursor: pointer;  

        &:before {
          font-family: "Font Awesome 5 Free";
          display: inline-block;
          padding:0;
          vertical-align: middle;
          font-size: 1.5rem;
        }

        &:hover {
          opacity: 0.7;
        }

        span {
          margin-left: -10px;
          font-size: 0.6875rem;
          line-height: 1.1;
          padding-top: 14px;
          width: 50px;
        }

        &.first-label { /* First label*/
          padding: 9px 0 0 1px;

          &:before {
            content: "\f1de";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
          }
        } /* end .first-label */

        &.second-label { /* Second label*/
          padding: 9px 0 0 2px;

          &:before {
            content: "\f044";
          }
        }/* end .second-label */  

        &.third-label { /* Third label*/
          padding: 9px 0 0 2px;

          &:before {
            content: "\f15c";
            font-size: 1.3125rem;
          }
        } /* end .second-label */ 
      } /* end label */

      .drawer {
        position: fixed;
        top: 0;
        right: 0;
        width: 85%;
        height: 100%;
        margin: 0 -85% 0 0;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        z-index: 2;
        background: $black;
        padding: 0 15px 15px;
        color: white;
        overflow: scroll;
        
        ul {
          width: 85%;
          height: 100%;
          padding: 1em;
          background: $black;
          color: white;
          margin: 0;
          list-style: none;
          overflow: scroll;

          li {
            margin:0;
            } /* end li*/
          } /* end ul*/

          button {
            font-size: 1rem;
            width: 100%;
            border: none;
            background-color: darken($primary,10%);
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0.5rem;
            margin: 1rem 0;
            text-transform: uppercase;
            color: white;
            font-family: 'Fjalla One', sans-serif;

            &.ui-corner-all {
              border-radius: 0;
            }

            &:hover {
              opacity: 0.8;
              border: none;
              outline: none;
            }

            &.ui-state-active {
              background-color: $secondary;
              border: none;
              color: white;
            }
          } /* end button */
        } /* end .drawer */

        /*OSD Viewer */

        .osd-viewer {
          height: 600px;
        }

        #osd_modifiers {
          padding: 0 10px;

          h2 {
            margin-top: 3rem;
            font-size: 16px;
          }

          #adjustments {
            .slider-wrapper {
              margin: 1rem 0;

              .label {
                display: inline-block;
                width: 100px;
              }

              .slider {
                display: inline-block;
                width: 200px;

                &.ui-corner-all {
                  border-radius: 0;
                  border-bottom-right-radius: 0;
                }

                &.ui-slider-horizontal {
                  height: .3em;
                  .ui-slider-handle {
                    top: -.5em;
                    border-radius: 50%;
                    background: lighten($primary,10%);
                    cursor: pointer;
                    outline: none;

                    &:hover {
                      background: $secondary;
                      border: 1px solid darken($secondary,5%);
                    }
                  }
                }
              }
            }
          }

          .hidden{
            display: none;
          }
        } /* #osd_modifiers */

        .osd-image {
          // width: calc(100% - 56px);
          overflow: hidden;
        } /* end .osd-image */

        .osd-switcher{
            float: left;
            width: 100%;

            a {
              display: inline-block;
              padding: 8px 24px;

              &.next {
                float: right;
              }

              &.prev {
                float: left;
              }
            } /* end .osd-switcher */

            .select-dropdown {
              position: relative;
              background-color: $black;
              display: inline-block;
              width: auto;
              max-width: 100%;
              border-radius: 0;
              border: 1px solid $primary;

              select {
                font-size: 1rem;
                max-width: 100%;
                padding: 4px 24px 4px 10px;
                border: none;
                color: $white;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:active,
                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }

              &:hover {
                background-color: $primary;

                select {
                  color: $black;
                }

                &:after {
                  border-top: 5px solid $black;
                }
              }

              &:after {
                content: " ";
                position: absolute;
                top: 50%;
                margin-top: -2px;
                right: 8px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $white;
              }
            } /* end .select-dropdown */
        } /* end .osd-drawer */
        }
      } /* end @media screen and (max-width: 885px) */

@media screen and (max-width: 600px) {
  .img-wrapper {
    &.float-right {
      float: none !important;
      text-align: center;
      margin: 0px 0px 10px 0px;
    }
    &.float-left {
      float: bottom !important;
      margin: 10px 10px 10px 0px;
    }
  }
  .home {
    display: flex;
    flex-direction: column;
    div.rich-text:nth-of-type(2) {
      order: -1 !important;
    }
  }
  .wrapper {
    .content {
      .entry {
        > li {
          flex-direction: column;
          margin-bottom: 40px;
          a {
            // width: 100%;
            img {
              width: auto;
              max-height: 200px;
            }
          }
          .info {
            width: 100%;
            .entry-description h3 {
              margin-top: 15px;
            }
            label {
              width: 100%;
            }
            ul li {
              width: 100%;
              margin-right: 0px !important;
            }
          }
        }
      }
    }
  }
  /* Footer */
  footer {
  margin-top: 1.5rem;

    ul{
        margin-bottom: 0.5rem;

        li {
          // width: 100%;

          img {
              height: 40px;
              margin: 0 2vw 1rem;
          }
        }
    }

    p {
      font-size: 0.6875rem;
    }
  } /*end footer */
}