{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block main %}


<div class="wrapper">
<div class="intro-wrapper">
        <input type="checkbox" class="readmore-state" id="readmore" />
        
        BLAH
        <div class="intro-expand">
            BlAH
        </div>
        <label for="readmore" class="readmore-trigger"></label>
    </div>
    <div class="secondary-nav">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self %}
    </div>
    <div class="content">
        <ul class="accordion">
            {% for subpage in self.get_children.0.get_children %}
            
            {% if subpage.specific.content_type.name == "image" %}

            <li>
                <a href="{{ subpage.specific.url }}">
                    {% if "VAGRANT"|settings_value %}
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{subpage.specific.filename}}/full/,500/0/default.jpg">
                    {% else %}
                        <img src="/images/{{subpage.specific.filename}}/full/,500/0/default.jpg">
                    {% endif %}      
                    <div class="info">
                        <h3>{{ subpage.title }}</h3> <span>{{subpage.specific.reference}}</span>

                        {% if subpage.specific.subtitle %}
                            <h4>({{ subpage.specific.subtitle }})</h4>
                        {% endif %}
                    </div>
                </a>
            </li>

            {% else %}
            <li>
                <input type="checkbox" name="group-{{ subpage.pk }}" id="group-{{ subpage.pk }}" unchecked="">
                <label for="group-{{ subpage.pk }}">
                    <a href="{{ subpage.get_children.0.specific.url }}">
                        {% if "VAGRANT"|settings_value %}
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{subpage.get_children.0.specific.filename}}/full/,500/0/default.jpg">
                        {% else %}
                            <img src="/images/{{subpage.get_children.0.specific.filename}}/full/,500/0/default.jpg">
                        {% endif %}                             
                        <div class="info">
                            <h3>{{ subpage.title }}</h3> <span>({{ subpage.get_children.count}} Articles)</span>

                            {% if subpage.specific.subtitle %}
                                <h4>{{ subpage.specific.subtitle }}</h4>
                            {% endif %}
                        </div>
                    </a>
                </label>
                <ul>
                    {% for image in subpage.get_children %}
                    <li>
                        <a href="{{ image.specific.url }}">
                            {% if "VAGRANT"|settings_value %}
                                <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{image.specific.filename}}/full/,500/0/default.jpg">
                            {% else %}
                                <img src="/images/{{image.specific.filename}}/full/,500/0/default.jpg">
                            {% endif %}                                  
                            <div class="info">
                                <h3>{{ image.title }}</h3>  <span>{{image.specific.reference}}</span>
                                {% if image.specific.subtitle %}
                                    <h4>({{ image.specific.subtitle }})</h4>
                                {% endif %}                            
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}