{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block main %}


<div class="wrapper">
<div class="intro-wrapper">
        <input type="checkbox" class="readmore-state" id="readmore" />
        <h2>Introduction</h2>
        <p>
            Catalogue Adapted by Grace Ioppolo from George Warner, <i>The Catalogue of the Manuscripts and Muniments of Alleyn’s College of God’s Gift at Dulwich</i> (London: Longmans, Green, and Co, 1881); and Francis Bickley, <i>The Second Series of The Catalogue of the Manuscripts and Muniments of Alleyn’s College of God’s Gift at Dulwich</i> (London: privately printed, 1903).
        </p>
        <p>
            The main aim of the Henslowe-Alleyn Digitisation Project is to provide the best possible images of every page of the manuscripts relating to theatrical affairs in the Henslowe-Alleyn Papers at Dulwich College. However, this aim had to be adjusted to suit the funding, resources and equipment available during photography and the conservation of the manuscripts being photographed.
        </p>
        <div class="intro-expand">
            <h2>The Photography of the Images</h2>
            <p>Dr David Cooper, assisted by Prof Grace Ioppolo, and, often, Mrs Gill Cooper, photographed each page of the manuscripts in 600 dpi resolution with professional equipment, including a tripod-mounted Sinar camera, two tripod-mounted lights, and specialised Macintosh software to process each photograph. The set-up of each photograph took between 5 and 30 minutes, and the photographs presented here of each image resulted from 16-64 photographs, which were integrated by computer software into one single photograph.</p>
            <p>In order to protect this archive of fragile vellum, parchment and paper manuscripts, the photography of manuscripts in bound volumes was done using a specially-designed cradle (produced under Dr Cooper’s supervision) that used a vacuum pump to lightly flatten each page against the cradle. In this way, neither the manuscripts nor the binding of their volumes sustained any damage during photography. Larger unbound items, including the muniments, were photographed while placed flat on the floor, using a special, and more complicated, photography process. All of the items, whether bound or unbound, were photographed against a black background that provides the best possible contrast and offers remarkably clear images of watermarks in the paper manuscripts.</p>
            <p>As many pages as possible, including of blank verso or recto pages, were photographed. An exception to this rule were the versos of the Orlando ‘part’, which were not photographed (and contained no text or markings at all). As the ‘part’ was originally put together as a continuous scroll, successive recto images give a close representation of its original state.</p>
            <p>Dr Cooper’s method of photography produces the best possible result for bound and unbound manuscripts. In only a very few instances is any text obscured by the 19th century binding of the volumes or by the attachment of seals after the completion of manuscripts or muniments. A small number of manuscripts, including those that are still tightly folded and cannot be opened flat, were too fragile to photograph at this time. It is possible that with further funding, more manuscripts in the archive will be photographed and their images added to the site.</p>
            <p>All photography was done at Dulwich College between August 2004 and September 2007. Dr and Mrs Cooper and Prof. Ioppolo remain very grateful to the generous support offered by staff at Dulwich College throughout that time.</p>
            <h2>The Processing of the Images</h2>
            <p>Dr and Mrs Cooper and Prof. Ioppolo processed the images using Adobe Photoshop; this processing mainly consisted of rotating and/or straightening the images and cropping and regularising the background. The resolution of the images was so high that further enhancement was not necessary.</p>
            <p>All images have been rotated to a position in which the text can be most easily read. Thus, some of the images are not in the same position in which the original pages are currently bound. Examples of this can be found in the versos of numerous pages, especially in the latter part of Henslowe’s ‘Diary’, which was turned upside down on occasion so that Henslowe could write from the last pages forward. The images of these ‘upside down’ original pages, and many others, including those versos of letters containing addresses, have been rotated right side up.</p>
            <h2>The Order of the Images</h2>
            <p>These images are offered as ‘thumbnails’, that is, a small view of each image, which users can click on to bring up that image.</p>
            <p>As noted elsewhere in this website, the numbering of images follows the cataloguing of George Warner and Charles Bickley in series 1 and 2 of <i>The Catalogue of the Manuscripts and Muniments of Alleyn’s College of God’s Gift at Dulwich</i> (London, 1881, 1903); both volumes are widely available at major libraries. Prof. Ioppolo has produced a very condensed version of these catalogues for this website.</p>
            <p>As part of their cataloguing, Warner and Bickley used pencil to foliate the volumes of manuscript; that is, they used a pencil to number each recto (or right-hand) page in succession and did not number the verso (or left-hand) page. Warner’s and Bickley’s folio numbers supercede those originally written out by the authors of the documents. Items such as Henslowe’s and Alleyn’s ‘Diaries' and the manuscript of <i>The Telltale</i> (volumes 7, 9 and 20), which were already bound at the time of cataloguing can therefore be easily indexed by these folio numbers. For example, folio 50r or 50v in Henslowe's Diary can be found under the image numbers 07-50r and 07-50v.</p>
            <p>However, Warner and Bickley also had to catalogue hundreds of pages of unbound manuscripts, many consisting of four or more, rather than two, pages each. For example, an individual document can be in the form of a bifolium, that is, a large sheet of paper folded vertically once to produce four pages, or in the form of a bifolium and some single pages. Thus, in MSS 1, 2, 3, and 5, for example, Warner and Bickley placed numerous individual documents (or ‘Articles’ as they called them) in succession. Although they foliated these documents, they indexed them by Article number. Hence, for example, the fourteenth document in MSS 1 is indexed as Article 14 (even though it begins with folio 19). On this website and electronic archive, such items are also represented by Article number, for example, as 01-14, with successive recto and verso numbers included (as in 01-14-01r, 01-14-01v, 01-14-02r, 01-14-02v).</p>
            <p>It is thus important to note that this website does not use the original folio numbers assigned to any 'Article' by Warner and Bickley. This website does use the original folio numbers assigned to manuscripts that do not consist of ‘Articles’.</p>
            <p>The members of the Project hope that additional funding will become available in the future to allow us to offer simple transcriptions of most, if not all, of these images. Until then, for the transcription and study of the images of Henslowe’s 'Diary', we recommend the use of R. A. Foakes’s edition (Cambridge: Cambridge University Press, reprinted in 2002).</p>
        </div>
        <label for="readmore" class="readmore-trigger"></label>
    </div>
    <div class="secondary-nav">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self %}
    </div>
    <div class="content">
<ul class="accordion">
        <li>
            <input type="checkbox" name="group-1" id="group-1" unchecked="">
            <label for="group-1">
                 <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                        <h3>45</h3> <span>(X Pages)</span>
                        <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                </a>
            </label>
            <ul>
                <li>
                    <input type="checkbox" name="group-1-1" id="group-1-1">
                    <label for="group-1-1">
                        <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                                <h3>45</h3> <span>(X Pages)</span>
                                <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                        </a>
                    </label>

                    <ul>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="group-1-2" id="group-1-2">
                    <label for="group-1-2"> 
                        <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                                <h3>45</h3> <span>(X Pages)</span>
                                <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                        </a>
                    </label>

                    <ul>
                        <li>
                            <input type="checkbox" name="group-1-2-3" id="group-1-2-3">
                            <label for="group-1-2-3">                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a> </label>
                        </li>
                    </ul>
                </li>
                <li>                     
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a>    
                </li>
                    <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a>    
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" name="group-2" id="group-2">
            <label for="group-2">
                <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/47/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-047-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                        <h3>47</h3> <span>(X Pagess)</span>
                        <h4>MSS 5, Group 47, 01r: 47.The Order of Eton College bakehouse and brewhouse, to be used as models for Dulwich College, Aug. 3, 1618.</h4>
                    </div>
                </a>
            </label>
            <ul>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" name="group-3" id="group-3">
            <label for="group-3">                 
            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/48/">

                <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-048-01r.jp2/full/,100/0/default.jpg">
                <div class="info">
                    <h3>48</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 48, 01r: 48. Statutes of the 'Orphanocomium', or the Hospital of the Orphans, and the 'Gerontocomium', or the Hospital of old Folks, to be used as models for Dulwich College, 1611.</h4>
                </div>
                </a>
            </label>
            <ul>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
            </ul>
        </li>
    </ul>





            <dl>
                
            {% for image in self.get_children %}
            <a href="{% pageurl image %}">
            <div class="card">
                <dt>
                
                <h4>{{ image.title }}</h4>
                                 {% if "VAGRANT"|settings_value %}
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% else %}
                    <img src="/images/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% endif %}
                </dt>
                <dd>

                <span>{{image.specific.reference}}: {{ image.specific.subtitle }}<span>
                   
                </dd>
                </div>
                </a>
            {% endfor %}
                
            </dl>

            {% comment %}

            Legacy content - do we need this? BM

            {% include "cms/includes/streamfield.html" with blocks=self.body %}
            {% endcomment %}
    </div>
</div>

{% endblock %}