{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block main %}


<div class="wrapper">
    <div class="intro">
        <h2>Introduction</h2>
        <p>
            Catalogue Adapted by Grace Ioppolo from George Warner, <i>The Catalogue of the Manuscripts and Muniments of Alleyn’s College of God’s Gift at Dulwich</i> (London: Longmans, Green, and Co, 1881); and Francis Bickley, <i>The Second Series of The Catalogue of the Manuscripts and Muniments of Alleyn’s College of God’s Gift at Dulwich</i> (London: privately printed, 1903).
        </p>
        <p>
            The main aim of the Henslowe-Alleyn Digitisation Project is to provide the best possible images of every page of the manuscripts relating to theatrical affairs in the Henslowe-Alleyn Papers at Dulwich College. However, this aim had to be adjusted to suit the funding, resources and equipment available during photography and the conservation of the manuscripts being photographed.
        </p>
        <button>Read more > </button>
    </div>
    <div class="secondary-nav">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self %}
    </div>
    <div class="content">
<ul class="accordion">
        <li>
            <input type="checkbox" name="group-1" id="group-1" unchecked="">
            <label for="group-1">
                 <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                        <h3>45</h3> <span>(X Pages)</span>
                        <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                </a>
            </label>
            <ul>
                <li>
                    <input type="checkbox" name="group-1-1" id="group-1-1">
                    <label for="group-1-1">
                        <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                                <h3>45</h3> <span>(X Pages)</span>
                                <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                        </a>
                    </label>

                    <ul>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                        <li>
                            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                            </a> 
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="group-1-2" id="group-1-2">
                    <label for="group-1-2"> 
                        <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                            <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                            <div class="info">
                                <h3>45</h3> <span>(X Pages)</span>
                                <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                            </div>
                        </a>
                    </label>

                    <ul>
                        <li>
                            <input type="checkbox" name="group-1-2-3" id="group-1-2-3">
                            <label for="group-1-2-3">                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a> </label>
                        </li>
                    </ul>
                </li>
                <li>                     
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a>    
                </li>
                    <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                        <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                        <div class="info">
                            <h3>45</h3> <span>(X Pages)</span>
                            <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                        </div>
                    </a>    
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" name="group-2" id="group-2">
            <label for="group-2">
                <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/47/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-047-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                        <h3>47</h3> <span>(X Pagess)</span>
                        <h4>MSS 5, Group 47, 01r: 47.The Order of Eton College bakehouse and brewhouse, to be used as models for Dulwich College, Aug. 3, 1618.</h4>
                    </div>
                </a>
            </label>
            <ul>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" name="group-3" id="group-3">
            <label for="group-3">                 
            <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/48/">

                <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-048-01r.jp2/full/,100/0/default.jpg">
                <div class="info">
                    <h3>48</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 48, 01r: 48. Statutes of the 'Orphanocomium', or the Hospital of the Orphans, and the 'Gerontocomium', or the Hospital of old Folks, to be used as models for Dulwich College, 1611.</h4>
                </div>
                </a>
            </label>
            <ul>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
                <li>
                    <a href="/a-catalogue-of-the-manuscript-and-muniment-images/mss-5/45/">
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/05-045-01r.jp2/full/,100/0/default.jpg">
                    <div class="info">
                    <h3>45</h3> <span>(X Pages)</span>
                    <h4>MSS 5, Group 45, 01r: 45. Petition of King James I for the incorporation of the making of ammunition, with a list in Edward Alleyn's hand of his books on the verso, no date.</h4>
                    </div>
                    </a> 
                </li>
            </ul>
        </li>
    </ul>





            <dl>
                
            {% for image in self.get_children %}
            <a href="{% pageurl image %}">
            <div class="card">
                <dt>
                
                <h4>{{ image.title }}</h4>
                                 {% if "VAGRANT"|settings_value %}
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% else %}
                    <img src="/images/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% endif %}
                </dt>
                <dd>

                <span>{{image.specific.reference}}: {{ image.specific.subtitle }}<span>
                   
                </dd>
                </div>
                </a>
            {% endfor %}
                
            </dl>

            {% comment %}

            Legacy content - do we need this? BM

            {% include "cms/includes/streamfield.html" with blocks=self.body %}
            {% endcomment %}
    </div>
</div>

{% endblock %}