{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block main %}


<div class="wrapper">
    <div class="secondary-nav">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self %}
    </div>
    <div class="content">
            <dl>
                
            {% for image in self.get_children %}
            <a href="{% pageurl image %}">
            <div class="card">
                <dt>
                
                <h4>{{ image.title }}</h4>
                                 {% if "VAGRANT"|settings_value %}
                    <img src="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% else %}
                    <img src="/images/{{image.specific.filename}}/full/,100/0/default.jpg">
                {% endif %}
                </dt>
                <dd>

                <span>{{image.specific.reference}}: {{ image.specific.subtitle }}<span>
                   
                </dd>
                </div>
                </a>
            {% endfor %}
                
            </dl>

            {% comment %}

            Legacy content - do we need this? BM

            {% include "cms/includes/streamfield.html" with blocks=self.body %}
            {% endcomment %}
    </div>
</div>

{% endblock %}