{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block page_subtitle %}<h3>{{self.specific.reference}}: {{ self.subtitle }}</h3>{% endblock %}

{% block main %}


    <!--<div class="row">
        <div class="small-3 columns">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self.get_parent %}
        </div>
    </div>-->

 
    <div class="osd-drawer">
        <input type="checkbox" id="first-drawer" />
        <label aria-label="Image Modifiers" class="first-label" for="first-drawer">
        <i class="fas fa-wrench"></i>
        </label>
        {% if page.transcription %}
        <input type="checkbox" id="second-drawer" />
        <label aria-label="Filter list" class="second-label" for="second-drawer">
         <i class="far fa-file-alt"></i>
        </label>
        {% endif %}
        <div class="first-list">
            <div id="osd_modifiers">
                <h2>Image Modifiers</h2>
                <div id="adjustments">
                    <div class="slider-wrapper">
                        <span class="label">Brightness</span>
                        <span id="brightness" class="slider" data-min="-255" data-max="255" data-step="1" data-default="0"></span>
                    </div>
                    <div class="slider-wrapper">
                        <span class="label">Contrast</span>
                        <span id="contrast" class="slider"  data-min="0" data-max="4" data-step="0.1" data-default="1"></span>
                    </div>
                    <div class="slider-wrapper">
                        <span class="label">Exposure</span>
                        <span id="exposure" class="slider"  data-min="-100" data-max="100" data-step="1" data-default="1"></span>
                    </div>
                    <div class="slider-wrapper">
                        <span class="label">Gamma</span>
                        <span id="gamma" class="slider" data-min="0" data-max="5" data-step="0.1" data-default="1"></span>
                    </div>
                    <div class="slider-wrapper">
                        <span class="label">Saturation</span>
                        <span id="saturation" class="slider" data-min="-100" data-max="100" data-step="1" data-default="0"></span>
                    </div>
                    <div class="slider-wrapper">
                        <span class="label">Vibrance</span>
                        <span id="vibrance" class="slider" data-min="-100" data-max="100" data-step="1" data-default="0"></span>
                    </div>

                    <button id="reset" class="ui-button ui-widget ui-corner-all reset">Reset</button>
                    <button id="greyscale" class="ui-button ui-widget ui-corner-all toggle">Greyscale</button>
                    <button id="invert" class="ui-button ui-widget ui-corner-all toggle">Invert Colours</button>
                    <button id="edges" class="ui-button ui-widget ui-corner-all toggle">Highlight Edges</button>
                    <button id="threshold" data-toggle="threshold-toggle" class="ui-button ui-widget ui-corner-all toggle">Threshold</button>
                    


                    <div class="slider-wrapper hidden" id="threshold-toggle">
                        <span class="label">Threshold Level</span>
                        <span id="thresholdlevel" class="slider" data-min="0" data-max="255" data-step="1" data-default="128"></span>
                    </div>
                </div>
            </div><!-- end .osd_modifiers -->
        </div><!-- end .filter-list -->
        
        {% if page.transcription %}
        <div class="second-list">
             <h2>Transcription</h2>
            {{ page.transcription}}
        </div>
        {% endif %}
          <div class="osd-image">
          <div class="osd-switcher">
            {% with siblings=self.get_siblings.live %}
            {% if siblings %}

                {% with prev=self.get_prev_siblings.live.first %}
                {% if prev %}
                <a class="prev" href="{% pageurl prev %}">&laquo; {{ prev.title }}</a>
                {% endif %}
                {% endwith %}

                <div class="select-dropdown">
                    <select id="image_switcher">

                        {% for page in siblings %}
                        <option value="{{ page.pk }}" data-url="{% pageurl page %}" {% if page.specific == self %}selected{% endif %}>{{ page.title }} </option>
                        {% endfor %}

                    </select>
                </div>

                {% with next=self.get_next_siblings.live.first %}
                {% if next %}
                <a class="next" href="{% pageurl next %}">{{ next.title }} &raquo;</a>
                {% endif %}
                {% endwith %}

            {% endif %}
            {% endwith %}
            </div>
            {% comment %}
            This allows the image viewer to work locally...
            {% endcomment %}

            {% if "VAGRANT"|settings_value %}
                <div id="osd-{{self.id}}" class="osd-viewer" data-image-url="https://imageserver.cch.kcl.ac.uk/henslowe3/webroot/images/jp2/{{self.specific.filename}}"></div>

            {% else %}
                <div id="osd-{{self.id}}" class="osd-viewer" data-image-url="/images/{{self.specific.filename}}"></div>
            {% endif %}
        </div><!-- end .osd-image -->
    </div><!-- end .osd-drawer -->



  
    


{% endblock %}