{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% block page_subtitle %}<h3>{{self.specific.reference}}: {{ self.subtitle }}</h3>{% endblock %}

{% block main %}

<section>
    <div class="row">
        <div class="small-3 columns">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self.get_parent %}
        </div>
    </div>



    <div class="row">
        <div class="small-9 columns">
            {% if self.get_prev_siblings.live %}
            <a href="{% pageurl self.get_prev_siblings.live.first %}">Previous Image</a>
            {% endif %}
            {% if self.get_next_siblings.live %}
            <a href="{% pageurl self.get_next_siblings.live.first %}">Next Image</a>
            {% endif %}
            <div id="osd-{{self.id}}" class="osd-viewer" data-image-url="/images/{{self.specific.filename}}"></div>
            }

        </div>
    </div>
</section>

{% endblock %}