{% extends "cms/base.html" %}
{% load cms_tags %}

{% block main %}

<div class="wrapper">
        <input type="checkbox" aria-label="checkbox categories" unchecked="" id="show-secondary-nav" class="show-secondary-nav">
        <label for="show-secondary-nav" class="show-secondary-nav"> subpages</label>
    <div class="secondary-nav">
            {% get_site_root as site_root %}
            {% sub_menu root=site_root current_page=self %}
    </div>
    <div class="content">
            {% include "cms/includes/streamfield.html" with blocks=self.body %}
    </div>
</div>

{% endblock %}