{% extends "base.html" %}
{% load wagtailcore_tags cms_tags %}

{% block meta_title %}Search Results{% endblock %}
{% block page_title %}<h2>Search Results {% if q %} for <i>{{ q }}</i> {% endif %}</h2>{% endblock %}
{% block page_subtitle %}<h3>{{ results.paginator.count }} Result{{ results.paginator.count|pluralize }} Found</h3>{% endblock %}


{% block main %}

<div class="wrapper">
    <div class="content">

    <div class="search-field">
        <form action="">
            <input name="q" type="search" value="" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Search the site"> <button class="search-icon"></button>
        </form>
    </div>

    {% if results.paginator.count %}

        <ul class="search-results">
            {% for result in results_qs %}
            <li><a href="{{ result.0.url }}?highlight={{q}}">{{ result.0.title }}</a>
            <p>{{result.1|keeptags:"em"|safe}}</p>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
                {% if results.has_previous %}
                <span class="prev">
                    <a href="?q={{q}}&amp;page=1">&laquo; first</a> / 
                    <a href="?q={{q}}&amp;page={{ results.previous_page_number }}">previous</a>
                </span>
                {% endif %}

                <span class="current">
                    Page {{ results.number }} of {{ results.paginator.num_pages }}.
                </span>

                
                {% if results.has_next %}
                <span class="next">
                    <a href="?q={{q}}&amp;page={{ results.next_page_number }}">next</a> / 
                    <a href="?q={{q}}&amp;page={{ results.paginator.num_pages }}">last &raquo;</a>
                </span>
                {% endif %}
        </div>
    {% else %}
        {% if q %}
            <p>No results found for <i>{{ q }}</i>.</p>
        {% else %}
            <p>No search term supplied.</p>
        {% endif %}
    {% endif %}
    </div>
</div>

{% endblock %}
