{% extends "base.html" %}
{% load staticfiles compress  %}

{% block navigation %}
{% endblock %}

{% block main %}
<div id="not-found">
    <h1><a href="/">THE HENSLOWE-ALLEYN DIGITISATION PROJECT</a></h1>
    <div class="page-content">
    <h2>404</h2>
        <p style="color:#fff; font-size:1.3rem;">Sorry, the page you were looking for was not found.</p>
        <p style="color:#cdb586; font-size:1.3rem;">This might be because you typed in the web address incorrectly, or because this page is no longer available. </p><br>
        <a href="/" class="button" style="background:transparent; color:#fff; font-size:1.3rem;">Home</a>
    </div>
</div>
{% endblock %}